<h1>Top Books of all time and space!</h1>

<% @books.each do |book| %>
  <p class="rank">Rank:<%= book.rank %></p>
  <p class="title"><%= book.title %></p>
  <p class="author">Author:<%= book.author %></p>
  <% if book.title == "Catch-22" %>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=1451626657&asins=1451626657&linkId=1f76e042ab0c864d05e200d263d99807&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
    <% end %>

<% end %>
