<h1>Top Books of all time and space!</h1>

<% @books.each do |book| %>
  <p class="rank">Rank:<%= book.rank %></p>
  <p class="title"><%= book.title %></p>
  <p class="author">Author:<%= book.author %></p>
  <% if book.title == "Catch-22" %>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=1451626657&asins=1451626657&linkId=1f76e042ab0c864d05e200d263d99807&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
    <% end %>

<% if book.title == "Lolita" %>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=0679723161&asins=0679723161&linkId=8d0e1482c960a11b6228e97327e97a9f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
<% end %>
<% if book.title == "The Great Gatsby" %>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=0743273567&asins=0743273567&linkId=8c234703a184df7ea1322d464d65c371&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
<% end %>

<% if book.title == "Invisible Man" %>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=0679732764&asins=0679732764&linkId=724d5acb01918c25975b235ede9b90d5&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
<% end %>
<% if book.title == "Slaughterhouse-5" %>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kensbooks32-20&marketplace=amazon&region=US&placement=0385333846&asins=0385333846&linkId=bbf5ebc34b44e90e39456617256ed49a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
<% end %>

<% end %>
